---
layout: splash
permalink: /rtl-verification/
hidden: true
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/mm-home-page-feature.jpg
excerpt: >
  RTL verification repositories.<br />
feature_row:
  - image_path: /assets/images/mm-systemverilog.png
    alt: "customizable"
    title: "DPLL with SystemVerilog"
    excerpt: "Example of testing a DUT with a simple SystemVerilog testbench"
    url: "https://github.com/jsloan256/dpll"
    btn_class: "btn--primary"
    btn_label: "repo"
---

{% include feature_row %}